<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/formdesigner?characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool.size">20</property>
		<property name="hibernate.show_sql">true</property>
		<property name="jdbc.fetch_size">50</property>
		<property name="jdbc.batch_size">25</property>
		<property name="jdbc.use_scrollable_resultset">false</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<mapping resource="cn/com/dayang/systemConfig/domain/SystemConfig.hbm.xml" />
	</session-factory>

</hibernate-configuration>