<div id="left" class="draggable-area">
	<h3> Form Tools</h3>
	<ul id="toolbox" class='tools'>
		<li class='drags'>
			<a href="#" data-type='input-text'> 输入框 </a>
		</li>
		<li class='drags'>
			<a href="#" data-type='drop-box'> 下拉框 </a>
		</li>
	</ul>
</div>

<div id="center" class="droppable-area">
	<form id="form-canvas" action="" method="" accept-charset="utf-8">
		<div class='row-1'>
			<div class='col-1'>
			&nbsp;
			</div>			
		</div>
		<div class='row-3'>
			<div class='col-1'>
				&nbsp;
			</div>	
			<div class='col-1'>
			&nbsp;
			</div>	
			<div class='col-1'>
			&nbsp;
			</div>			
		</div>
		<div class='row-3'>
			<div class='col-1'>
			&nbsp;
			</div>	
			<div class='col-1'>
			&nbsp;
			</div>	
			<div class='col-1'>
			&nbsp;
			</div>			
		</div>
		
		<div class='clear'></div>
	</form>
</div>

<script type="text/template" charset="utf-8" id='input-text-tmpl'>
	<div class='input-box drags-box' data-type='input-text'>
		<label> 输入框 </label>
		<span> : </span>
		<input type="text" value="" />
		<div class='clear'></div>
	</div>
</script>

<script type="text/template" charset="utf-8" id='drop-box-tmpl'>
	<div class='input-box drags-box' data-type='drop-box'>
		<label> 下拉框 </label>
		<span> : </span>
		<select>
			<option value="">请选择...</option>
			<option value="option1">option1</option>
			<option value="option2">option2</option>
			<option value="option3">option2</option>			
		</select>
	</div>
</script>