body {
  font-size: 13px;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  min-width: 960px;
  overflow: none;
  height: 42px;
  z-index: 100;
}
#left-panel {
  position: fixed;
  left: 0px;
  top: 42px;
  width: 218px;
  padding-bottom: 10px;
  border: solid 1px #ccc;
  background-color: #eee;
}
h3.panel-header {
  text-align: center;
  background-color: #444;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  margin: 0px;
  padding: 6px;
}
ul.tools {
  margin: 0px;
  padding: 3px;
  height: 550px;
  overflow-y: auto;
}
ul.tools li {
  list-style: none;
}
li.drags a {
  display: block;
  text-decoration: none;
  cursor: move;
  padding: 3px 0px;
  padding-left: 30px;
  font-size: 13px;
  color: #000;
  line-height: 22px;
}
li.drags a:hover {
  background-color: #3b5888;
  color: #fff;
}
#center-panel {
  position: absolute;
  left: 220px;
  top: 42px;
  bottom: 0px;
  right: 320px;
  padding: 15px 10px;
}
#right-panel {
  position: fixed;
  right: 0px;
  top: 42px;
  bottom: 0px;
  width: 318px;
  border: solid 1px #ccc;
  background-color: #eee;
}
#right-panel form#prop-form {
  padding: 10px 5px 0px 10px;
}
#right-panel form#prop-form table#prop-table tr td {
  padding: 5px 0px;
}
#right-panel form#prop-form table#prop-table tr td input,
#right-panel form#prop-form table#prop-table tr td select {
  height: 30px;
}
#right-panel form#prop-form table#prop-table tr td.prop-label {
  width: 80px;
}
#formcanvas {
  min-width: 940px;
  min-height: 550px;
}
#formcanvas form {
  float: left;
}
.form-wrapper {
  height: 550px;
  min-height: 550px;
  background-color: #ffffff;
}
.form-column {
  float: left;
}
.form-cell .input-wrapper {
  margin-left: 90px;
}
.form-cell .input-wrapper input,
.form-cell .input-wrapper select {
  width: 100%;
}
.form-cell input,
.form-cell select {
  height: 30px;
}
.form-cell label {
  float: left;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 80px;
  text-align: right;
  margin-right: 6px;
}
.form-cell label.required {
  color: red;
}
.form-column:hover,
.form-column-selected {
  background-color: #3b5888;
  color: #fff;
}
.form-row {
  float: left;
  width: 1320px;
}
.form-row .form-cell {
  padding: 12px 6px 0 6px;
}
.form-row:hover,
.form-row-selected {
  background-color: #f7f7f7;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0%;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
