body {
  font-size: 13px;
}
.form-wrapper {
  width: 960px;
  height: 550px;
  overflow: auto;
  background-color: #ffffff;
}
.builder-form label {
  background-color: #fff;
  display: -moz-inline-box;
  display: inline-block;
  width: 80px;
}
.fit .col-1,
.fit .col-2,
.fit .col-3 {
  float: left;
}
.fit .col-1 div,
.fit .col-2 div,
.fit .col-3 div {
  line-height: 22px;
  padding: 3px 12px;
}
.fit .row-1 .col-1 {
  width: 960px;
}
.fit .row-1 .col-1 div {
  width: 860px;
}
.fit .row-3 .col-1 {
  width: 320px;
}
.fit .row-3 .col-1 div input {
  width: 220px;
}
