<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-1.3.1/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="lib/jasmine-1.3.1/jasmine.css">
  <script type="text/javascript" src="lib/jasmine-1.3.1/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-1.3.1/jasmine-html.js"></script>

  <!-- include source files here... -->
  <!--
  <script type="text/javascript" src="src/Player.js"></script>
  <script type="text/javascript" src="src/Song.js"></script>
  -->

	<!-- install backbone -->
  <script src="/assets/components/json2/json2.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/components/jquery/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/components/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/components/backbone/backbone.js" type="text/javascript" charset="utf-8"></script>

  <!-- source code-->
	
  <!-- include spec files here... -->
  <!--
  <script type="text/javascript" src="spec/SpecHelper.js"></script>
  <script type="text/javascript" src="spec/PlayerSpec.js"></script>
  -->



</head>

<body>

	<script type="text/template" id="tmpl-form">
		<div class="form-wrapper">
			<form action="" method="post" accept-charset="utf-8">
				<%= body %>
				<div class="clear"></div>
			</form>				
		</div>		
	</script>
	<script type="text/template" id="tmpl-row">
		<div class='row-<%= columnCount%>'>
			<%= body %>
		</div>
	</script>
	<script type="text/template" id="tmpl-col">
		<div class='col-<%= colspan%>'>
			<%= body %>
		</div>
	</script>
	<script type="text/template" id="tmpl-text">
		<label for="<%= id%>"><%= label %></label>
		<input type="text" id="<%= id%>" name="<%= name%>" value="<%= value%>" />
	</script>
	
	<script src="/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="/spec/IndexSpec.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		(function() {
		 var jasmineEnv = jasmine.getEnv();
		 jasmineEnv.updateInterval = 1000;

		 var htmlReporter = new jasmine.HtmlReporter();

		 jasmineEnv.addReporter(htmlReporter);

		 jasmineEnv.specFilter = function(spec) {
		 return htmlReporter.specFilter(spec);
		 };

		 var currentWindowOnload = window.onload;

		 window.onload = function() {
		 if (currentWindowOnload) {
		 currentWindowOnload();
		 }
		 execJasmine();
		 };

		 function execJasmine() {
			 jasmineEnv.execute();
		 }

		})();
</script>
</body>
</html>
