<table border="0" class='table'>
	<thead>
		<tr>
			<th>名称</th>
			<th>类型</th>
			<th>优先级</th>
			<th>备注</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% data.forEach(function(config) { %>
		<tr>
			<td> 
				<a class='choose' href="#new/by/<%= config.configGuid %>">
					<%= config.configName%>
				</a>
			</td>
			<td> <%= SC.type[config.configType] %> </td>
			<td> <%= config.orderNum%> </td>
			<td> <%= config.preceptName %> </td>
			<td>
				<a class='choose' href="#new/by/<%= config.configGuid %>">
					选择
				</a>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>		
