@minWidth: 960px;
@minHeight: 550px;
@labelWidth: 80px;
@top: 42px;

body {
	font-size: 13px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
	min-width: @minWidth;
	overflow: none;
	height: @top;
    z-index: 100;
}

#left-panel {
	position: fixed;
	left: 0px;
	top: @top;
	bottom: 0px;
	width: 218px;
    border: solid 1px #ccc;
    background-color: #eee;
}
h3.panel-header {
    text-align: center;
    background-color: #444;
    font-size:14px;
    line-height: 22px;
    color: #fff;
    margin: 0px;
    padding: 6px;
}

ul.tools {
	margin: 0px;
	padding: 3px;
}

ul.tools li {
	list-style: none;
}

li.drags a {
	display: block;
	text-decoration: none;
	cursor: move;
	padding: 3px 0px;
	padding-left: 30px;
	font-size: 13px;
	color: #000;
	line-height: 22px;
}

li.drags a:hover {
	background-color: #3b5888;
	color: #fff;
}

#center-panel {
	position: absolute;
	left: 220px;
	top: @top;
	bottom: 0px;
	right: 320px;
    padding: 15px 10px;
}

#right-panel {
	position: fixed;
	right: 0px;
	top: @top;
	bottom: 0px;
	width: 318px;
	border: solid 1px #ccc;
    background-color: #eee;
	form#prop-form {
		padding: 10px 5px 0px 10px;
		table#prop-table {
			tr {
				td {
					padding: 5px 0px;
					input, select {
						height: 30px;
					}
				}
				td.prop-label {
					width: 80px;
				}
			}
		}
	}
}

#formcanvas {
	min-width: 940px;
	min-height: 550px;
	form {
		float: left;
	}
}

.form-wrapper {
	height: @minHeight;
	min-height: @minHeight;
	background-color: #fff
}
.form-column {
	float: left;
}

.form-cell {
	.input-wrapper {
		margin-left: @labelWidth + 10;
		input, select {
			width: 100%;
		}
	}
	input, select {
		height: 30px;
	}
	label {
		float: left;
		display:-moz-inline-box;
		display:inline-block;
		zoom: 1;                     //IE only
		*display: inline;            //Only IE know this code (CSS Hack)
		width: @labelWidth;
		text-align: right;
		margin-right: 6px;
	}
	label.required {
		color: red;
	}
}

.form-column:hover, .form-column-selected {
	background-color: #3b5888;
	color: #fff;
}

.form-row {
	float: left;
	width: 1320px;
	.form-cell {
		padding: 12px 6px 0 6px; 
	}
}

.form-row:hover, .form-row-selected {
	background-color: #f7f7f7;
}


.clear {
	clear: both;
	height: 0px;
	line-height: 0%;
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}
