@minWidth: 960px;
@minHeight: 550px;
@labelWidth: 65px;

body {
	font-size: 13px;
}

.form-wrapper {
	width: @minWidth;
	height: @minHeight;
	min-width: @minWidth;
	min-height: @minHeight;
	overflow: auto;
	margin: 20px auto;
	background-color: #fff
}

.cell {
	label {
		display: block;
		line-height: 18px;
		margin-bottom: 3px;
	}
	
	input, select {
		height: 30px;
	}
	/*
	label {
		background-color:#fff;
		display:-moz-inline-box;
		display:inline-block;
		zoom: 1;                     //IE only
		*display: inline;            //Only IE know this code (CSS Hack)
		width: @labelWidth;
	}
	*/
}

.inputStyle(@colCount, @colspan) {
	.cell {
		input {
			width: @minWidth / @colCount * @colspan - 20px;
		}
		select {
			width: @minWidth / @colCount * @colspan - 10px;
		}
	}
}

.cellWidth(@colCount, @colSpan) {
	width: @minWidth / @colCount * @colSpan
}

.fit {
	.col-1, .col-2, .col-3 {
		float: left;
		.cell {
			padding: 0px 6px; 
			margin-bottom: 12px;
		}
	}
	.row-1 {
		.col-1 {
			.cellWidth(1, 1);
			.inputStyle(1, 1);
		}
	}

	.row-3 {
		.col-1 {
			.cellWidth(3, 1);
			.inputStyle(3, 1);
		}
	}
}
